/* Barra de Navegacion*/

.navbar{
    padding: 2px;
    background-color:beige;
    box-shadow: 0px 1px 4px 1px burlywood;
    margin: 8px;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.navbar a{
    color: white;
    font-family: 'Rubik Distressed';
    font-size: 18px;
}
.navbar a:hover{
    color: #9c27b0;
}

body{
    background-color:darkslategray;
}